
@import 'style/base';

$default-padding: 1em;
$section-width: 1300px;

$background-color: black;
$font-color : #AAA;
$font-color-highlight: yellow;

$font-normal: 'Cutive Mono', monospace;
$font-emph: 'VT323', monospace;

$box-background-color: $font-color;
$box-font-color: $font-color;
$box-font-color-highlight: $font-color-highlight;

$nav-min-width: 600px;

body {
  font-family: $font-normal;
  background-color: $background-color;
  color: $font-color;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-emph;
  font-weight:unset;
}

p {
  line-height: 1.5em
}


a {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;
  &:hover {
    color: $font-color-highlight;
  }
}


hr {
  border: 0;
  border-bottom: 1px dashed;
  margin: 3em 0;
}

.grid-padding {
  @include grid-padding($default-padding);
}

.section-container {
  max-width: $section-width;
  margin: 0 auto
}

.container-padding {
  padding: $default-padding;
}

.paragraph {
  h2 {
    margin-bottom: 0.5em;
    text-decoration: underline;
  }

  a {
    color: $font-color-highlight;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  pre {
    color: white;
    font-family: inherit;
    border: 1px solid;
    padding: 1em;
    overflow: hidden;
    font-size: 0.8em;
    white-space: pre-wrap;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  code {
    color: white;
    font-family: inherit;
  }
}

.text-center {
  text-align: center;
}

.font-normal {
  font-family: $font-normal;
}

.font-emph {
  font-family: $font-emph;
  font-weight: unset;
}

.section-header {
  font-size: 1.5em;
}

.header {
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.header-name {
  font-family: $font-emph;
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
}

.box {
  background-color: $box-background-color;

  &:hover {
    background-color: $background-color;
    color: $font-color-highlight;
  }
}

.button {
  display: block;
  font-weight: bold;
  background-color: $box-background-color;
  color: $background-color;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  padding: 0.5em 0.7em;

  &:hover {
    background-color: $font-color-highlight;
    color: $background-color;
    text-decoration: none;
  }
}

.clickable-box {
  overflow: hidden;
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $font-color-highlight;
  }
}

.post-box {
  h1, h2 {
    font-family: $font-emph;
    font-weight: unset;
    margin-bottom: 0.2em;

  }

  time {
    font-style: italic;
    i {
      margin-right: 0.5em;
    }
  }
}

.project-box {

  .project-logo {
    width: 100px;
    min-width: 100px;
  }

  & > div {
    display: flex;
  }

  h1, h2 {
    margin-top: 0.2em;
    font-family: $font-emph;
    font-weight: unset;
  }

  p {
    text-align: justify;
  }
}

.nav-button {
  padding: 1px 7px 2px 7px;
  font-size: 32px;
  border-radius: 0.2em;
  background-color: transparent;
  border: 1px solid white;
  color: white;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2)
  }
}

.social-buttons-bar {
  @include grid-padding($default-padding);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-endline {
  text-align: center;
  margin-top: 1em;
}

.ascii-art {
  overflow-x:hidden;
  margin-bottom:1.5em;
  display: flex;
  justify-content: center;

  pre {
    font-family: inherit;
    color: white;
    font-size: 0.4em;
    line-height: 0.9em;
  }
}

#nav-menu {
  background-color: black;
  padding-top: 3em;

  .nav-menu-items {
    text-align : center;

    a {
      display: block;
      font-size: 2em;
      text-decoration: none;
      font-family: $font-emph;
      margin-bottom: 0.5em;
    }

    h1 {
      font-size: 3em;
      font-weigth: bold;
    }

  }

  .nav-menu-close {
    position: fixed;
    top: 1em;
    right: 1em;
    border: 0;

    color: white;
    background-color: transparent;

    i {
      font-size: 32px;
    }

    &:hover {
      color: $font-color-highlight;
    }
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}
